*, *:before, *:after {
  box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}
.bg-faded {
    background-color: #d5d9e0;
}
.grey{
    background-color: #858896;
}
.nav1{
    width:500px;
    min-height: calc(100vh - 59px);
    height: calc(100vh - 59px);
}
.content{
    width: calc(100vw - 500px);
    height: calc(100vh - 59px);
    padding: 100px;
}
#container{
    display:flex;
    justify-content: space-between;
}